.mainCon {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tabMainCon {
  display: flex;
  background: #ccc;
}
.tabTitle {
  cursor: pointer;
  padding: 4px;
  padding: 10px;

  &:hover {
    background: #bbb;
    transition: 0.3s ease;
  }
}
.contentCon {
  padding: 10px;
}
.active {
  background: #bbb;
  transition: 0.3s ease;
}