.mainCon {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tabMainCon {
  display: flex;
  background: #ccc;
}
.tabTitle {
  cursor: pointer;
  padding: 4px;
  padding: 10px;

  &:hover {
    background: #bbb;
    transition: 0.3s ease;
  }
}
.contentCon {
  position: relative;
  padding: 30px 10px 20px 10px ;
}
.active {
  background: #bbb;
  transition: 0.3s ease;
}
.closeTab {
  position: absolute;
  right: 14px;
  top: 10px;
   &:hover {
    cursor: pointer;
    color: red;
    transition: 0.3s ease;
   }
}
.tabConTitle {
  font-size: 16px;
  font-weight: 600;
}
.deactivateTab {
  display: none;
}